@model UserUpdateModel
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Update Details of <strong>@Model.Username</strong> User</h5>
            </div>
            <div class="card-body">
                <form method="post" asp-action="Update" asp-controller="User">
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Username</label>
                        <input type="hidden" asp-for="@Model.Id" />
                        <input type="text" class="form-control" asp-for="@Model.Username" placeholder="User Username" />
                        <span class="text-danger" asp-validation-for="@Model.Username"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">User Password</label>
                        <input type="text" class="form-control" asp-for="@Model.Password" placeholder="User Password" />
                        <span class="text-danger" asp-validation-for="@Model.Password"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">User First Name</label>
                        <input type="text" class="form-control" asp-for="@Model.FirstName" placeholder="First Name" />
                        <span class="text-danger" asp-validation-for="@Model.FirstName"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">User Last Name</label>
                        <input type="text" class="form-control" asp-for="@Model.LastName" placeholder="Last Name" />
                        <span class="text-danger" asp-validation-for="@Model.LastName"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">User Email</label>
                        <input type="email" class="form-control" asp-for="@Model.Email" placeholder="your@email.com" />
                        <span class="text-danger" asp-validation-for="@Model.Email"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">User Phonenumber</label>
                        <input type="text" class="form-control" asp-for="@Model.PhoneNumber" placeholder="+9053000000" />
                        <span class="text-danger" asp-validation-for="@Model.PhoneNumber"></span>
                    </div>
                    <div class="mb-3">
                        <div class="form-outline flex-fill">
                            <label class="form-label" for="basic-default-fullname">User Department</label>
                            <select class="form-select" asp-items="@Model.Departments" asp-for="@Model.DeparmentId">
                                <option value="0">Please select user Department</option>
                                <span class="text-danger" asp-validation-for="@Model.Departments"></span>
                            </select>
                        </div>
                    </div>
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <button type="submit" class="btn btn-primary">Update</button>

                </form>
            </div>
        </div>
    </div>
</div>