@model UserCreateModel
@{
    Layout = "_Layout";
}
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                                <form class="mx-1 mx-md-4" method="post" asp-action="SignUp" asp-controller="Account">

                                    <div class="d-flex flex-row align-items-center mb-3">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" asp-for="@Model.Username" class="form-control" />
                                            <label class="form-label" >Username</label>
                                            <span class="text-danger" asp-validation-for="@Model.Username"></span>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-3">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" asp-for="@Model.FirstName" class="form-control" />
                                            <label class="form-label" >Your First Name</label>
                                            <span class="text-danger" asp-validation-for="@Model.FirstName"></span>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-3">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" asp-for="@Model.LastName" class="form-control" />
                                            <label class="form-label" >Your Last Name</label>
                                            <span class="text-danger" asp-validation-for="@Model.LastName"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-3">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" asp-for="@Model.Email" class="form-control" />
                                            <label class="form-label" >Your Email</label>
                                            <span class="text-danger" asp-validation-for="@Model.Email"></span>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-3">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" asp-for="@Model.PhoneNumber" class="form-control" />
                                            <label class="form-label" >Your Phone</label>
                                            <span class="text-danger" asp-validation-for="@Model.PhoneNumber"></span>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-3">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" asp-for="@Model.Password" class="form-control" />
                                            <label class="form-label" >Password</label>
                                            <span class="text-danger" asp-validation-for="@Model.Password"></span>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-3">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" />
                                            <label class="form-label" >Repeat your password</label>
                                            <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-3">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-2">
                                            <select class="form-select" asp-items="@Model.Departments" asp-for="@Model.DeparmentId">
                                                <option value="0">Please select your department</option>
                                        <span class="text-danger" asp-validation-for="@Model.Departments"></span>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="text-danger" asp-validation-summary="All"></div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>