@model List<DocumentListDto>
@{
    Layout = "_Layout";
}

<form class="form-inline my-2 my-lg-0 m-4 row" asp-action="Index" asp-controller="Home" method="get">
    <input class="form-control mr-sm-2 mt-3" type="search" placeholder="Search" aria-label="Search" name="search">
    <select class="form-select mt-2" name="searchopt">
        <option value="0" selected>Title of Doc</option>
        <option value="1">Sender</option>
        <option value="2">Receiver</option>
        <option value="3">Type of Doc</option>
        <option value="4">Class of Doc</option>

    </select>
    <button class="btn btn-outline-primary mt-3" type="submit">Search</button>
</form>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">List of  /</span> Documents</h4>


    <div class="container-fluid align-items-end">
        <label class="float-right" for="basic-default-fullname">Sort By</label>
        <select class="float-righ" aria-label="Document State">
            <option selected>Open this select menu</option>
            <option value="0">Physical</option>
            <option value="1">Electronic</option>
        </select>
    </div>
    <div class="card">

        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Document Name</th>
                        <th>Type</th>
                        <th>Class</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><strong>@item.Title</strong></td>
                            <td>
                                @item.TypeOfDoc
                            </td>
                            <td>
                                @item.DocState
                            </td>
                            <td><span class="badge bg-label-primary me-1">@item.DocStatus</span></td>
                            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                            {
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                            <a class="dropdown-item" asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id"><i class="bx bx-trash me-1"></i> Delete</a>
                                        </div>

                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"><i class="bx bx-edit-alt me-1"></i> Details</a>
                                        </div>
                                    </div>
                                </td>
                            }
                        </tr>

                    }

                </tbody>
            </table>
    
        </div>

    </div>
    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
    {
        <a class="btn btn-primary mt-3" asp-action="Create">Add New Document</a>
    }
    <!--/ Hoverable Table rows -->
</div>
<hr class="my-5" />
